* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  

  .container{
height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 2rem 3rem;
    padding: 3rem;


  }

  .content{

    border: 2px solid;
    background-color: chocolate;
  }


  